# Migraflow Backend API endpoint
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# Target platform app/dashboard URL (where users are redirected after successful login/registration)
NEXT_PUBLIC_APP_URL=http://localhost:3000
